@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
     margin: 0;
     font-family: 'Questrial', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fbfcfe;
}
.container{
     background-color: white;
     border: thin solid black;
     border-radius: 8px;
     padding:2rem;
     text-align: center;
     margin: 5rem;
     box-shadow: 4px 4px 8px 0px #dadada;;
}
.code-container{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 2rem 0;
     gap: 0.5rem;
}
.code{
     border-radius: 4px;
     font-size: 1.2rem;
     font-weight: bold;
     text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.code:valid{
     border: #3498db;
     box-shadow:  0 10px  10px -5px rgba(0,0,0,0.25);
}
.info{
     background-color: #eaeaea;
     display: inline-block;
     padding: 0.5rem;
}