@import url('https://fonts.googleapis.com/css2?family=Muli:300,700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #fbfcfe;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: thin solid black;
    border-radius: 8px;
    padding: 2em;
    max-width: 1000px;
    text-align: center;

}

.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5em 0;
}

.code {
    border-radius: 4px;
    font-size: 4.5rem;
    width: 100px;
    border: thin solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid {
    border-color: #3498db;
    box-shadow: 0 8px 8px -4px rgba(0,0,0,0.25);
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 1em;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .code-container {
        flex-wrap: wrap;
    }

    .code{
        font-size: 3.5rem;
        max-width: 70px;
    }
}