@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
     margin: 0;
     font-family: 'Questrial', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: steelblue;
}
.buttons{
     display:  grid;
     margin-top: 5rem;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(2,1fr);
     gap: 1rem;
     background-color: aquamarine;
     padding: 1rem;

}

.bt{
     padding: 1rem;
     background-color: #ccc;
     border: 0;
     box-shadow: 4px 4px 8px 0px #dadada;
     cursor: pointer;
}